header {
    height: 20vh;
    background-color: #fff;
}

body {
    height: 80vh;
}

header img {
    width: 150px;
    background-color: #fff;
}

main h1 {
    font-size: 50px;
}

#grid {
    height: 700px;
    width: 700px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    color: white;
}

.celleasy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid green;
    cursor: pointer;
}

.cellmedium {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: 1px solid green;
    cursor: pointer;
}

.cellhard {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: 1px solid green;
    cursor: pointer;
}

.clicked {
    background-color: rgb(18, 241, 10);
    background-image: url(../img/flower.png);
    background-position: center;
    background-size: cover;
}

.bomb {
    background-color: rgb(255, 4, 4);
    background-image: url(../img/bomb.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}